body{
background-color: rgb(75, 75, 76);
color: rgb(244, 7, 7);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0px;
}
h1{
color: rgb(202, 199, 199);
font-size: 40px;
}
p{
font-size: 25px;
}
header{
    border-bottom: rgb(50, 50, 50);
margin: 2px;
padding: 10px;
color: rgb(201, 2, 2);
}
